# source
git     /extensions/SDL                    git://github.com/oe-legacy/extensions-SDL.git
git-dev /extensions/SDL                    git@github.com:oe-legacy/extensions-SDL.git

# windows lib
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
